### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### react template
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
/build
/storybook-static
.loki/report.html
.loki/report.json
bower_components

*.sublime*

psd
thumb
sketch

